---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - e90ca31ff355700cd2f8e09a9df62660
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,chat:write.customize
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-xo1l
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TV6151X8D","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TV6151X8D"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UUTG4NT6W","team_id":"TV6151X8D","name":"space_lee_api_project","deleted":false,"color":"e7392d","real_name":"space_lee_api_project","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"space_lee_api_project","real_name_normalized":"space_lee_api_project","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g4d652bc1dc0","api_app_id":"AUTFW5NHG","always_active":true,"bot_id":"BUTG4NRPC","first_name":"space_lee_api_project","last_name":"","image_24":"https:\/\/secure.gravatar.com\/avatar\/4d652bc1dc012ee2969d55b3f6aab77d.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/4d652bc1dc012ee2969d55b3f6aab77d.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/4d652bc1dc012ee2969d55b3f6aab77d.jpg?s=48&d=htt[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - b3a2fbfac415f3a13b04512ee5e2605f
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,chat:write.customize
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-sal1
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CUT6YR3LJ","name":"lees-test-channel","is_channel":true,"is_group":false,"is_im":false,"created":1583865761,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"lees-test-channel","is_shared":false,"parent_conversation":null,"creator":"UV7S06J4X","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV6151X8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"For
        having fun with the Slack API!!","creator":"UV7S06J4X","last_set":1584080167},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"CV60LA20G","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1583865651,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UV7S06J4X","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TV6151X8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
    [...]
